/*логотип*/
.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 80px;
  letter-spacing: 0.03em;
  margin-right: 85px;
}
.logo-help {
  color: $akcent-color;
}
